In [1]:
# Q1. Explain with an example each when to use a for loop and a while loop.
# :-  "for" loop can be use when we know the  sequence of elements for a fixed number of times.
# :-  "while" loop can be use when we  don't know the  sequence of elements for a fixed number 
#      of times and it  will run until condition become "false"

In [2]:
# Example "for" loop 
for i in range (5):
    print(i)

0
1
2
3
4

In [4]:
# Example "while" loop 
a = 1
while a < 10 : 
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9

In [5]:
# Q2. Write a python program to print the sum and product of 
#     the first 10 natural numbers using for and while loop.

In [15]:
# "for loop"
result = 0 
for i in range(1,11) :
    result = result + i
result

55

In [17]:
result = 1
for i in range(1,11) :
    result = result * i
result

3628800

In [7]:
# "while loop"
result = 0 
i = 1
while i <= 10 :
    result = result + i
    i= i +1 
print(result)

55

In [9]:
# "while loop"
result = 1
i = 1
while i <= 10 :
    result = result * i
    i= i +1 
print(result)

3628800

In [10]:
# Q3. Create a python program to compute the electricity bill for a household.
# The per-unit charges in rupees are as follows:- 
# For the first 100 units, the user will be charged Rs. 4.5 per unit,
# for the next 100 units, the user will be charged Rs. 6 per unit,
 # and for the next 100 units, the user will be charged Rs. 10 per unit,
 # After 300 units and above the user will be charged Rs. 20 per unit.
# You are required to take the units of electricity consumed in a month from the user as input.
# Your program must pass this test case: 
# when the unit of electricity consumed by the user in a month is
#  310, the total electricity bill should be 2250.
#   0 <= 100 = 4.5rs 
#  0 <= 200 = 6 rs  
#  0 <= 300 = 10rs 
# 300 < above = 20rs

In [25]:
units = int(input("Enter the number of units consumed in a month : "))
if units <=100 :
     print(f"total amount of bill {units* 4.5 }")
elif units <= 200 :
     print(f"total amount of bill {100 * 4.5 + ((units - 100) * 6)}")
elif units <= 300 :
     print(f"total amount of bill {100 * 4.5 + 100 * 6 + ((units - 200) * 10)}")
else: 
    units >300 
    print(f"total amount of bill {100 * 4.5 + 100 * 6 + 100 * 10 + ((units - 300) * 20) }")

Enter the number of units consumed in a month :  310

total amount of bill 2250.0

In [26]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop 
# to calculate the cube of each number and if the cube of that number 
# is divisible by 4 or 5 then append that number in a list and print that list.

In [27]:
l = range(1,101)

In [32]:
#using for loop 
result_list = []
for i in range (1,101) :
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        result_list.append(i)
result_list

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [33]:
result_list = []
i = 1
while i <= 100:
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        result_list.append(i)
    i += 1
result_list

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [34]:
# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [47]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0
for char in string :
    if char in vowels:
        count = count +1 
print("The number of vowels in the string is:", count)

The number of vowels in the string is: 12