## Assignment 2

In [ ]:
## Q1 write a program to accept percentage from the user and display the
## grade according to following criteria
#marks A >90
#marks B >80 and <=90
#marks C >=60 and <=80
#marks D <60

In [2]:
marks=int(input("Enter the marks percentage"))
if marks>90:
    print("Grade A")
elif marks>80 and marks<=90:
    print("Grade B")
elif marks>=60 and marks<=80:
   
        print("Grade C") 
else:
        print("Grade D")

Enter the marks percentage 45

Grade D

In [ ]:
## Q2 write a program to accept the cost prize of a bike and display the road tax to be paid 
## according to the following criteria 
#tax=15% , cost_price > 100000
#tax=10% , cost_price > 50000 and cost_price <= 100000
#tax=15% , cost_price <= 50000

In [3]:
cost_price =int(input(" Enter the cost price of bike "))
if cost_price>100000:
    print(f"Road tax to be paid {cost_price*.15}")
elif cost_price>50000 and cost_price <= 100000:
    print(f"Road tax to be paid {cost_price*.10}")
else:
    print(f"Road tax to be paid {cost_price*.05}")

 Enter the cost price of bike  45000

Road tax to be paid 2250.0

In [ ]:
## Q3 Accept any city from the user and display monuments of that city.
# city = delhi, monument = Red fort
# city = Agra ,  monument = Taj mahal 
# city = jaipur, monument =  jal mahal

In [4]:
monuments = { "Delhi" : "Red Fort", "Agra" : "Taj Mahal" , "Jaipur" : "Jal Mahal"}
city= input("Enter Your City Name : ")
if city in monuments :
    print(f"The monuments of {city.title()} are: {monuments[city]}")
else:
    print(f"Sorry this {city.title()} are not present ")

Enter Your City Name :  delhi

Sorry this Delhi are not present

In [ ]:
## Q4 Check how many times a given number can be divided by 3,
##    it is less than or equal to 10.

In [5]:
num = 10
while  num<=10 :
    print(num)
      num= num/3

IndentationError: unexpected indent (3758398561.py, line 4)

In [ ]:
## Q5 why and when to use While loop in python give a detailed description wth exmple ?
#Ans :   A while loop is a type of loop in Python that is used to repeatedly execute a block of code 
#        as long a certain condition is true. The while loop is useful when we  need to repeat a task
#        until a certain condition is met, or when we don't know how many times we need to repeat the task.
#EXAMPLE :

In [6]:
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [ ]:
# Q6 Use nested while loop to print 3 diffrent pattern.

In [17]:
n=6
for i in range (0,n):
    for j in range (0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******

In [16]:
n = 6
for i in range(n):
    print(" "*(n-i),end='')
    for j in range(i*2+1):
        print("*",end="")
    print()

      *
     ***
    *****
   *******
  *********
 ***********

In [15]:
size = 3
for i in range(size):
    for j in range(size-i):
        print("*",end="*")
        print()

**
**
**
**
**
**

In [ ]:
# Q7&Q8 Reverse a while loop to display number from 10 to 1.

In [1]:
i = 10
while i >= 1:
    print(i) 
    i -=  1

10
9
8
7
6
5
4
3
2
1